.api-row {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 300px 600px;
    color: #333;
}

.row-header {
    grid-column: 1/3;
}

.row-header h3 {
    background-color: #bbb;
    padding-left: 3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.row-link {
    grid-column: 1/2;
    margin-left: 3em;
}

.row-link a {
    text-decoration: none;
    font-size:large;
    color: #333;
}

.row-link a:hover {
    text-decoration: underline;
}

.row-description {
    grid-column: 2/3;
}