header {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    color: #333;
    position: relative;
}

.header-image {
    width: 100%;
    height: 150px;
}

.headertitle {
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    margin-right: 20%;
    margin-top: 100px;
    color: #eee;
    display: inline-block;
    position: relative;
    top: -250px;
    left: 70%;
}

.mainmenu {
    width: 100%;
}

.mainmenulist {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainmenulist li {
    margin-top: -0.3em;
    list-style-type: none;
    text-decoration: none;
}

.mainmenulist a {
    text-decoration: none;
    font-family: "Josefin Slab", serif;
    font-weight: 800;
    font-style: normal;
    font-size: x-large;
    color: #333;
}

.mainmenulist a:hover {
    text-decoration: underline;
    color: #333;
}