{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>

    <h3>Landningssida för card</h3>

    Du har dragit: {{ rank }} of {{ suit }}

{% endblock %}