{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <p>
        I nuvarande session finns {{ sessionLength }} attribut.
    </p>

    {{ include('flash.html.twig') }}

    {{ dump(currentSession) }}

    <form method="post" action="">
        <p>
            <input type="submit" name="session_delete" value="Delete session"
                onClick="this.form.action='{{ path('session_delete') }}';"
            >
    </form>

{% endblock %}